* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Marvel-Regular';
  font-size: 100%;
}

p, h1, h2, input, label, span, button {
  font-family: 'Axiform-Regular';
}

.control-arrow::before {
  border-left: 8px solid rgb(255, 0, 0) !important;
}
.control-prev.control-arrow::before {
  border-left: 8px solid rgb(255, 0, 0) !important;
}