@font-face {
  font-family: 'Marvel-Regular';
  src: url('http://192.168.0.111:3000/fontes/MarvelRegular-Dj83.ttf');
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Marvel-Regular';
  font-size: 100%;
}

p, h1, input, label, span, button {
  font-family: 'Marvel-Regular';
}